.dataShow {
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  box-shadow: 1px 5px 25px #888888;
}

.dropBox {
  display: inline-block;
  background-color: #ffffff;
}
